header {
  text-align: center;
  font-size: xx-large;
  margin-top: 40px;
  margin-bottom: 50px;
}

body {
  font-family: sans-serif;
  background-color: wheat;
}

footer {
  margin-top: 40px;
    background-color: aliceblue;
    color: green;
    font-family: sans-serif;
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
  }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
  }

  table {
    text-align: left;
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  th {
    font-weight: 500;
  }
  
  #pierwszy {
    background-color: pink;
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
  }

  #drugi {
    background-color: yellow;
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
  }
  #opis {
    width: 75%;
    margin-left: 12.5%;
  }

  img {
    width: 100px;
  }

  a {
    color: teal;
    text-decoration: none;
  }

  #logo {
    margin-left: 41%;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 200px;*/
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }

  li a:hover {
    background-color: grey;
    color: white;
  }

  ul#pasazerowie {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    background-color: wheat;
  }

  ul#pasazerowie li:nth-child(even) {background-color: #f2f2f2; padding: 5px;}
  ul#pasazerowie li:nth-child(odd) {background-color: lightblue; padding: 5px;}

  .os {position: relative}
.os .mi {display: none}
.os:hover .mi {
    display: block;
    background-color: green;
    position: absolute;
    top: 5px;
    left: 180px;
}

header {
  grid-area: header;
}

.kolumna1 {
  grid-area: kolumna1;
}

.kolumna2 {
  grid-area: kolumna2;
}

footer {
  grid-area: footer;
}

.cards {
  width: 75%;
  margin-left: 12.5%;
  display: grid;
  grid-template-areas: 
  "header header header"
  "menu kolumna1 kolumna2"
  "footer footer footer"
  ;
}

.menu {
  grid-area: menu;
  width: 200px;
}

form {
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 11px;
  padding-right: 11px;
}

@media (max-width: 600px) {
  .cards {
    grid-template-areas: 
  "header"
  "menu"
  "kolumna1"
  "kolumna2"
  "footer";
  width: 100%;

  }
  .menu {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .footer {
    width: 100%;
  }
  .kolumna1 {
    width: 100%;
  }
}

@media (min-width:600px) and (max-width: 900px){
.cards {
  grid-template-areas: 
"header header"
"menu menu"
"kolumna1 kolumna2"
"footer footer";
width: 100%;
}
.menu {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
.footer {
  width: 100%;
}
}

/*
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}*/

tr.canceled {
  background-color: #a13535;
}

tr.delayed {
  background-color: #e4802f;
}

tr.delay {
  background-color: #e4e14d;
}

div#powodzenie {
  position: fixed;
  font-size: xx-large;
  width: 90%;
  height: 90%;
  bottom: 5%;
  right: 5%;
  opacity: 90%;
  text-align: center;
  background-color: greenyellow;
  padding: 10px;
}